.footer {
  padding: 60px 0;
  background-color: var(--accent-color);

  &__container {
    display: grid;
    align-items: flex-end;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);

    @include mq(768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      row-gap: 30px;
    }

    @include mq(375px) {
      grid-template-columns: none;
    }
  }

  &__docs {
    justify-self: flex-start;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    color: var(--background-color);

    @include mq(768px) {
      grid-column: 1;
      grid-row: 2;
    }

    @include mq(480px) {
      font-size: 15px;
    }
  }

  &__copyright {
    margin-bottom: 20px;
  }

  &__policy {
    color: var(--background-color);
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(768px) {
      align-items: flex-start;
      justify-self: flex-start;
      grid-column: 1;
      grid-row: 1;
    }
  }

  &__logo-img {
    margin-bottom: 20px;

    img {
      @include mq(768px) {
        width: 180px;
      }
    }
  }

  &__phone {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--background-color);
  }

  &__nav {
    justify-self: flex-end;
    margin-right: 0;

    .nav__list {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav__item {
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .nav__link {
      font-weight: 400;
      font-size: 17px;
      line-height: 120%;
      text-transform: initial;
      color: var(--background-color);
    }

    @include mq(768px) {
      grid-column: 2;
      grid-row: 2 span;
    }

    @include mq(375px) {
      display: none;
    }
  }
}
