.portfolio {
  margin-bottom: 200px;

  &__container {
    margin: 0 auto;
    padding-right: 100px;
    padding-left: 100px;
    max-width: 1920px;

    @include mq(1750px) {
      padding: 0;
    }
  }

  &__slider-slide {
    position: relative;
    margin-bottom: 50px;
    transform: scale(0.95);
    transition: all var(--transition-time);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.5;
      transition: opacity var(--transition-time);

      @include mq(1200px) {
        width: 90%;
      }

      @include mq(910px) {
        width: 100%;
      }
    }

    @include mq(910px) {
      transform: scale(0.85);
    }

    @include mq(768px) {
      margin-bottom: 10px;
    }
  }

  &__slider-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .swiper-slide-active {
    transform: scale(1.15);

    &::before {
      opacity: 0;
    }

    @include mq(910px) {
      transform: scale(1);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 73px;
    height: 73px;
    transform: translateY(-50%);

    &::after {
      content: none;
    }

    &__icon {
      width: 18px;
      height: 36px;
      fill: transparent;
      stroke: #fffafa;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 5px;
    }
  }

  .swiper-button-next {
    right: 31%;

    @include mq(1200px) {
      right: 22%;
    }

    @include mq(910px) {
      right: 20%;
    }

    @include mq(480px) {
      right: 15%;
    }

    @include mq(375px) {
      right: 15px;
    }
  }

  .swiper-button-prev {
    left: 31%;

    @include mq(1200px) {
      left: 15.5%;
    }

    @include mq(910px) {
      left: 20%;
    }

    @include mq(480px) {
      left: 15%;
    }

    @include mq(375px) {
      left: 15px;
    }
  }

  .swiper-pagination {
    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-height: 16px;
    --swiper-pagination-color: var(--accent-color);
    --swiper-pagination-bullet-horizontal-gap: 7.5px;

    position: static;
    z-index: 5;

    @include mq(768px) {
      --swiper-pagination-bullet-width: 10px;
      --swiper-pagination-bullet-height: 10px;
    }
  }

  @include mq(768px) {
    margin-bottom: 100px;
  }
}
