.price {
  margin-bottom: 150px;

  &__title {
    margin-bottom: 20px;

    &::before {
      left: calc(-55% - 30px);
    }

    &::after {
      right: calc(-55% - 30px);
    }
  }

  &__subtitle {
    margin-bottom: 70px;
  }

  &__tabs {
    margin-bottom: 20px;
  }

  &__button {
    margin: 0 auto;
  }

  &__decor {
    position: absolute;
    z-index: -1;

    &--first {
      left: -56px;
      top: 2665px;
      width: 252px;
      height: 254px;
      background: rgba(239 156 153 / 80%);
      filter: blur(250px);
    }

    &--second {
      left: 100px;
      top: 2869px;
      width: 213px;
      height: 215px;
      background: rgba(201 153 239 / 80%);
      filter: blur(250px);
    }

    &--third {
      right: 0;
      top: 3141px;
      width: 252px;
      height: 254px;
      background: rgba(239 156 153 / 80%);
      filter: blur(250px);
    }

    &--fourth {
      right: 27px;
      top: 3463px;
      width: 213px;
      height: 215px;
      background: rgba(201 153 239 / 80%);
      filter: blur(250px);
    }
  }
}
