<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__map">
      <picture>
        <source srcset="img/contacts__map.avif" type="image/avif">
        <source srcset="img/contacts__map.webp" type="image/webp">
        <img loading="lazy" src="img/contacts__map.jpg" class="image" width="700" height="510" alt="Карта с местонахождением студии">
      </picture>
    </div>
    <div class="contacts__content">
      <h2 class="title title--h2 title--line-right contacts__title">Контакты студии</h2>
      <ul class="contacts__list list-reset">
        <li class="contacts__list-item contacts__list-item--adress">
          <div class="contacts__icon-block">
            <svg class="contacts__icon">
              <use xlink:href="img/sprite.svg#adress"></use>
            </svg>
          </div>
          <div class="contacts__item-title">Адрес:</div>
          <div class="contacts__descr contacts__descr--adress">г.Москва<br>ул.Бориса Галушкина, 18</div>
        </li>
        <li class="contacts__list-item">
          <div class="contacts__icon-block">
            <svg class="contacts__icon">
              <use xlink:href="img/sprite.svg#time"></use>
            </svg>
          </div>
          <div class="contacts__item-title">Время работы:</div>
          <div class="contacts__descr">с 9-00 до 20-00.</div>
        </li>
        <li class="contacts__list-item">
          <div class="contacts__icon-block">
            <svg class="contacts__icon">
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
          </div>
          <div class="contacts__item-title">Телефон:</div>
          <a href="tel:+79852782277" class="contacts__descr contacts__descr--link contacts__descr--phone">+7 (985) 278-22-77</a>
        </li>
        <li class="contacts__list-item">
          <div class="contacts__icon-block">
            <svg class="contacts__icon">
              <use xlink:href="img/sprite.svg#social"></use>
            </svg>
          </div>
          <div class="contacts__item-title">Соц.сети:</div>
          <a href="#" class="contacts__descr contacts__descr--link">
            <svg class="contacts__descr-icon contacts__descr-icon--vk">
              <use xlink:href="img/sprite.svg#social-vk"></use>
            </svg>
            @volosi_dina
          </a>
          <a href="#" class="contacts__descr contacts__descr--link">
            <svg class="contacts__descr-icon contacts__descr-icon--insta">
              <use xlink:href="img/sprite.svg#social-insta"></use>
            </svg>
            @hairmos
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
