<footer class="footer">
  <div class="container footer__container">
    <div class="footer__docs">
      <div class="footer__copyright">Все права защищены</div>
      <a href="#" class="footer__policy">Политика Конфиденциальности</a>
    </div>
    <div class="footer__logo">
      <div class="footer__logo-img logo">
        <picture>
          <source srcset="img/logo.avif" type="image/avif">
          <source srcset="img/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo.png" class="logo__image" width="150" height="80" alt="Hairmos hair studio">
        </picture>
      </div>
      <a class="footer__phone" href="tel:+79852782277">+7 (985) 278-22-77</a>
    </div>
    <nav class="footer__nav nav" title="Меню сайта">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a data-scroll data-menu-item href="#about" class="nav__link">О нас</a></li>
        <li class="nav__item"><a data-scroll data-menu-item href="#portfolio" class="nav__link">Наше портфолио</a></li>
        <li class="nav__item"><a data-scroll data-menu-item href="#price" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a data-scroll data-menu-item href="#callback" class="nav__link">Обратная связь</a></li>
        <li class="nav__item"><a data-scroll data-menu-item href="#contacts" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <a class="footer__author" href="https://vk.com/thunder_webdev">Сайт разработал: Тимофей Кривеньков</a>
  </div>
</footer>
