<header class="header">
  <div class="container header__container">
    <button class="header__burger burger btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <svg class="burger__icon">
        <use xlink:href="img/sprite.svg#burger"></use>
      </svg>
    </button>
    <nav class="header__nav nav" title="Меню сайта" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Фото работ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__logo logo">
      <picture>
        <source srcset="img/logo.avif" type="image/avif">
        <source srcset="img/logo.webp" type="image/webp">
        <img loading="lazy" src="img/logo.png" class="logo__image" width="150" height="80" alt="Hairmos hair studio">
      </picture>
    </div>
  </div>
</header>
