<section class="portfolio" id="portfolio">
  <div class="portfolio__container">
    <h2 class="portfolio__title title title--h2 title--line-center" data-aos="fade">Фотографии наших работ</h2>
    <div class="swiper portfolio__slider">
      <div class="swiper-wrapper portfolio__slider-wrapper">
         <div class="swiper-slide portfolio__slider-slide">
          <picture>
            <source srcset="img/portfolio-1.avif" type="image/avif">
            <source srcset="img/portfolio-1.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-1.jpg" class="portfolio__image" width="600" height="600" alt="Выполненная работа 1">
          </picture>
         </div>
         <div class="swiper-slide portfolio__slider-slide">
          <picture>
            <source srcset="img/portfolio-2.avif" type="image/avif">
            <source srcset="img/portfolio-2.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-2.jpg" class="portfolio__image" width="600" height="600" alt="Выполненная работа 2">
          </picture>
         </div>
         <div class="swiper-slide portfolio__slider-slide">
          <picture>
            <source srcset="img/portfolio-3.avif" type="image/avif">
            <source srcset="img/portfolio-3.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-3.jpg" class="portfolio__image" width="600" height="600" alt="Выполненная работа 3">
          </picture>
         </div>
         <div class="swiper-slide portfolio__slider-slide">
          <picture>
            <source srcset="img/portfolio-3.avif" type="image/avif">
            <source srcset="img/portfolio-3.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-3.jpg" class="portfolio__image" width="600" height="600" alt="Выполненная работа 3">
          </picture>
         </div>
         <div class="swiper-slide portfolio__slider-slide">
          <picture>
            <source srcset="img/portfolio-3.avif" type="image/avif">
            <source srcset="img/portfolio-3.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-3.jpg" class="portfolio__image" width="600" height="600" alt="Выполненная работа 3">
          </picture>
         </div>
      </div>
      <div class="swiper-button-prev">
        <svg class="swiper-button-prev__icon">
          <use xlink:href="img/sprite.svg#slider-prev"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-button-prev__icon">
          <use xlink:href="img/sprite.svg#slider-next"></use>
        </svg>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
